.disabled_entity {
    background: #666 !important;
    color: white !important;
}

a, a:link {
    cursor: pointer;
}

td, th {
    padding: 8px 15px;
}

td.editor-label {
    padding-right: 0px;
    text-align: right;
    padding-top: 15px;
}

table.hasHeader {
    border: 5px solid #ccc;
    border-top: none;
}

table.large {
    width: 100%;
}

table.medium {
    width: 75%;
}

table.small {
    width: 50%;
}

td, th {
    vertical-align: top;
    width: auto;
}

input, textarea, select {
    margin: 0;
}

table.inlineForm input {
    width: 150px;
}

.halftime input {
    width: 130px;
}

.editor-field span.dash {
    font-size: 1.2em;
    padding: 5px;
}

span.field-validation-error {
    display: block;
}

table.inlineForm select {
    width: 200px;
}

table.inlineForm td {
    padding: 0;
    padding-right: 15px;
}

input[type=submit] {
    margin-top: 10px;
}

section.content {
    margin-top: 30px;
}

.warning_value {
    font-weight: bold;
    font-style: italic;
    color: #c00;
}

table.stemleaf td,
table.stemleaf th {
    padding: 8px 4px;
}

table.stemleaf td:first-child {
    text-align: right;
    padding-left:15px; 
}

table.stemleaf td:last-child { 
    padding-right:15px;
}