.disabled_entity {
    background: #666 !important;
    color: white !important;
}

a, a:link {
    cursor: pointer;
    padding: 0;
}

*:first-child {
    margin-top: 0;
}

table {
    margin-top: 1em;
}

table.hasHeader {
    border: 5px solid #ccc;
    border-top: none;
}

.table-holder {
    overflow-x: auto;
    overflow-y: hidden;
    border: 5px solid #ccc;
    border-top: none;
    margin-top: .75em;
    display: inline-block;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    max-width: 100%;
}

.table-holder table.hasHeader {
    border: none;
}

td, th {
    padding: 8px 15px;
    white-space: nowrap;
}

td.editor-label {
    padding-right: 0px;
    text-align: right;
    padding-top: 12px;
}

table.large {
    width: 100%;
}

table.medium {
    width: 75%;
}

table.small {
    width: 500px;
    max-width: 100%;
}

table.stemleaf td:last-child {
    max-width: 300px;
	white-space: normal;
}

table.border {
    border: 5px solid #ccc;
}

td, th {
    vertical-align: top;
    width: auto;
}

input, textarea, select {
    margin: 0;
}

table.inlineForm input[type=text] {
    width: 150px;
}

.halftime input {
    width: 130px;
}

.editor-field span.dash {
    font-size: 1.2em;
    padding: 5px;
}

span.field-validation-error {
    display: block;
}

table.inlineForm select {
    width: 200px;
}

table.inlineForm {
    margin-top: 15px;
}

table.inlineForm td {
    padding: 0;
    padding-right: 15px;
}

input[type=submit] {
    margin-top: 10px;
}

td input[type=submit] {
    margin: 0;
}

section.content {
    margin-top: 30px;
}

.warning_value {
    font-weight: bold;
    font-style: italic;
    color: #c00;
}

table.stemleaf td,
table.stemleaf th {
    padding: 8px 4px;
}

table.stemleaf td:first-child {
    text-align: right;
    padding-left:15px; 
}

table.stemleaf td:last-child { 
    padding-right:15px;
}

th.header { 
    background-image: url(images/sort_indicator.gif);     
    cursor: pointer; 
    background-repeat: no-repeat; 
    background-position: center right 10px; 
    padding-right: 30px;
} 

th.headerSortUp { 
    background-image: url(images/desc_sort_indicator.gif); 
    background-color: #bbb; 
} 

th.headerSortDown { 
    background-image: url(images/asc_sort_indicator.gif); 
    background-color: #bbb; 
}

input[readonly="readonly"] {
    background: #ddd;
    border: #ddd;
    color: black !important;
}

.help_tip {
    float: right;
    background: #ddd;
    border: 5px solid #ccc;
    padding: 10px 20px;
}

div.logo {
    display: inline-block;
    float: left;
    margin-right: 25px;
}

div.nav {
    text-align: right;
}

div#course_select,
div#admin_links {
    margin-bottom: 20px;
}

ul#menu li {
    background: #efeeef;
    padding: 0 .4em .1em !important;
    border: .15em solid #ccc;
    margin: 3px 0;
    display: inline-block;
}

#menu li:hover,
#menu li:hover a {
    background: #50abec;
    border-color: #50abec;
    color: #fff !important;
}

    #menu li.current,
    #menu li.current a {
        background: #ccc;
        color: #fff !important;
    }

header .float-right {
    text-align: right;
}

header nav {
    margin-top: 20px;
}

header label[for=selected_course] {
    display: inline;
    margin-right: 8px;
}

header select#selected_course {
    width: auto;
}

@media only screen and (max-width: 600px) {
    header .float-left,
    header .float-right,
    div.logo,
    div.nav {
        float: none;
        text-align: center;
        display: block;
    }

    ul#menu li,
    ul#menu {
        text-align: center;
        float: none;
    }

    div.logo {
        margin-right: 0;
    }
}

@media only screen and (max-width: 500px) {
    header .float-left {
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) {
    .content-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }
}

footer {
    padding: 10px;
}