<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="SEI_TimeMachine2ConnectionString" connectionString="Data Source=CSDB;Initial Catalog=SEI_TimeMachine2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SEI_TimeMachineConnectionStringOriginalTM" connectionString="Data Source=CSDB;Initial Catalog=SEI_TimeMachine;UID=sei_timemachine;PWD=z5t9l3x0"
            providerName="System.Data.SqlClient" />
        <add name="SEI_TimeMachineConnectionStringWithPID" connectionString="Data Source=CSDB;Initial Catalog=SEI_TimeMachine;User ID=sei_timemachine;Password=z5t9l3x0"
            providerName="System.Data.SqlClient" />
        <add name="SEI_TimeMachine2ConnectionString2NewTMwithPID" connectionString="Data Source=CSDB;Initial Catalog=SEI_TimeMachine2;Persist Security Info=True;UID=sei_timemachine;PWD=z5t9l3x0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>
	
	<!--system.web>
	   <authentication mode="Windows"/>
	   
	</system.web-->
  
    <system.web>
      <customErrors mode="Off"/>
    </system.web>

</configuration>
